<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitep03.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Startscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teasy_1" />
        <activity android:name=".teasy_2" />
        <activity android:name=".teasy_3" />
        <activity android:name=".teasy_4" />
        <activity android:name=".teasy_5" />
        <activity android:name=".tnomal_1" />
        <activity android:name=".tnomal_2" />
        <activity android:name=".tnomal_3" />
        <activity android:name=".tnomal_4" />
        <activity android:name=".tnomal_5" />
        <activity android:name=".thard_1" />
        <activity android:name=".thard_2" />
        <activity android:name=".thard_3" />
        <activity android:name=".thard_4" />
        <activity android:name=".thard_5" />
        <activity android:name=".t_result" />
        <activity android:name=".Resultscreen"></activity>
    </application>

</manifest>